.brands-slider {
	padding-top: 2.21875rem;
	padding-bottom: 2.21875rem;
		
	.brand-slider {
		display: none;		
		padding-top: 1.5rem;
		padding-left: 1rem;
		padding-right: 1rem;
		
	&.slick-initialized {
		display: block;
	}
		
		@include breakpoint(large) {
			padding-left: 0;
			padding-right: 0;			
		}
		
		button.slick-arrow {
// 			font-size: 0;
			cursor: pointer;
			width: 20px;
			height: 30px;
		    position: absolute;
		    z-index: 2;
		    top: 50%;
		    transform: translateY(-50%);
			background-repeat: no-repeat;
			transition: opacity .3s ease;
			
		&:hover {
			opacity: .6;
		}

		&.slick-prev {
			left: 0;
			
			@include breakpoint(large) {
				left: -1rem;
			}
			
			@include breakpoint(xlarge) {
				left: -2rem;
			}
			
		}
		    
		&.slick-next {
			right: 0;
			
			@include breakpoint(large) {
				right: -1rem;
			}

			@include breakpoint(xlarge) {
				right: -2rem;
			}
			
		}
		    
		}
				
		.single-logo {
			margin: 0 16px;
		}	 
	}
	
}


