.image-copy-cols {
	padding-top: 1.7rem;
	padding-bottom: 1.85rem;
	
	@include breakpoint (medium) {
		padding-top: 5.1rem;
		padding-bottom: 2.8125rem;
	}
	
	.grid-container {
		max-width: 67rem;
	}
	
	h2 {
		margin-bottom: .75em;
		
		span {
			display: block;
			
		&.small {
			font-size: rem-calc(26);
			font-weight: 400;
			text-transform: none;
			
		&:first-child {
			padding-bottom: .1em;
		}
			
		}
		
		&.large {
			padding-bottom: .15em;
		}
			
		}
		
	}
	
	.left {
		margin-bottom: 1.7rem;
		
		@include breakpoint(tablet) {
			margin-bottom: 0;
		}
		
	}
	
	.right {
		@include breakpoint(large) {
			padding-left: 2rem;
		}
	}
	
}